version: '3.8'

services:
  app:
    build: .
    ports:
      - "3002:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true